@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-surface text-slate-100 font-sans antialiased selection:bg-brand selection:text-white;
  }
}

@layer components {
  /* Scrollbar hiding utilities for cleaner UI */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
}
